.convo-box-wrapper{
	.convo-box-header{
		.convo-box-tabs{
			.convo-box-tab{
				text-align: center;
				font-size: 1.5em;
				filter: drop-shadow(.2em .2em .1em rgba(0, 0, 0, 0.7));
				cursor: pointer;

				&.selected{
					filter: none;
				}
			}
		}
	}

	.convo-box-messages{
		.message{
			cursor: pointer;
			border-bottom: .1em solid;

			.detail {
				font-size: .85em;
			}

			.message-details{
				@media(min-width: 769px){
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.from{
					width: 15em;
					display: inline-block
				}

				.subject{
					@media(max-width: 768px){
						display: block;
					}
				}
			}
		}
	}
}