.zfgc-bottom{
	bottom: 0;
    position: absolute;
    width: 100%;
	
	.zfgc-footer{
	    border-top: .2em solid black;
	    box-shadow: 0 -.1em 0.3em black;


	    .nav-heading {
		 	.nav-tab{
		 	 	.nav-icon{
		 	 		font-size: 2em;
		 	 	}
	    	}
		}
	}
}