.sign-in-form{

	form{
		background-color: $msecondary;
	    padding: 2em;
	    border: $border-stroke solid;
	    border-radius: $border-radius;
	    margin-top: 2em;
	    box-shadow: 0.3em 1em 1em black;
	}
}