@import './themes/midnight-colors.scss';

$border-radius:		.5em;
$border-stroke:		.2em;

.theme-midnight {
	background-color: $mprimary;
	color: 			  $onPrimary;

	
	.zfgc-form{
		.btn{
			&.btn-primary{
				background-color: $btnPrimary;
			}

			&.btn-secondary{
				background-color: $btnSecondary;
			}

			&.btn-danger {
				background-color: $btnDanger;
			}
		}

		input[type="radio"], input[type="checkbox"]{
			&:checked:after{
				color: $btnPrimary;
			}
		}
	}

	a{
		color: #77ff3f;

		&:visited{
			color: #cdff07;
		}
	}
}