$mprimary:			#204378;
$msecondary:		#25334E;
$msecondary2:		#132241;

$green1:			#77ff3f;
$green2:			#cdff07;

$red1:				red;

$onPrimary:			#d5dffb;
$onPrimary2:		#black;

$btnPrimary:		#46c334;
$btnSecondary:		#909090;
$btnDanger:			#c33434;

$hoverColor:		$msecondary2;

$link:				$green1;
$link-visited:		$green2;
