@import 'assets/style/variables.scss';
@import 'assets/style/header.scss';
@import 'assets/style/sign-in.scss';
@import 'assets/style/collapsible.scss';
@import 'assets/style/forms.scss';

html {
  height: 100%;
}

body {
  font-size: 1em;
  font-family: Verdana, Helvetica, sans-serif;
}

@import "~bootstrap/scss/bootstrap";
