@import 'assets/style/variables.scss';
@import 'assets/style/header.scss';
@import 'assets/style/footer.scss';
@import 'assets/style/sign-in.scss';
@import 'assets/style/collapsible.scss';
@import 'assets/style/forms.scss';
@import 'assets/style/registration.scss';

@import "../node_modules/react-datepicker/dist/react-datepicker.css";

html {
  height: 100%;
}

body {
  font-size: 1em;
  font-family: Verdana, Helvetica, sans-serif;
}

@import "~bootstrap/scss/bootstrap";
